.mapcustom {

    &__maps {
        @include layer(1);
    }

    &__placemark {
        @include layer(2);
    }

    &__badges {
        @include layer(2);

        height: 0;
        bottom: auto;

        & .container {
            display: flex;
            justify-content: space-between;
            height: 0;
        }

        &-right {
            width: 11.9vw;
            min-width: rem(130);

            @media screen and (max-width: $w1024) {
                display: none;
            }

            & .bgimage {
                padding-top: 220%;
                @include bgimage-contain;
                background-position-y: top;
                background-position-x: right;
            }
        }

        &-left {
            padding-top: 4vw;
            width: 13.5vw;
            min-width: rem(180);

            @media screen and (max-width: $w1024) {
                width: 130px;
                min-width: 130px;
            }

            @media screen and (max-width: $w580) {
                width: 80px;
                min-width: 80px;
            }

            & .bgimage {
                padding-top: 100%;
                @include bgimage-contain;
            }
        }
    }

    &__container {
        padding-top: 61%;
        background-color: #eee;
        position: relative;

        @media screen and (max-width: $w1024) {
            padding-top: 78%;
        }

        @media screen and (max-width: $w580) {
            padding-top: 95%;
        }

        @media screen and (max-width: $w480) {
            padding-top: 130%;

        }
    }

    &__desc {
        padding: rem(90) 0;
        background: #BCCEBA;
        position: relative;


        @media screen and (max-width: $w480) {
            padding: rem(55) 0;
        }

        & .container {
            display: flex;
            max-width: 1440px;
        }
    }



    &__text {
        max-width: 50%;
        width: 50%;
        font-size: rem(24);
        line-height: 164%;

        @media screen and (max-width: $w1024) {
            width: 100%;
            max-width: 100%;
        }

        @media screen and (max-width: $w480) {
            font-size: 18px;
        }
    }

    &__image {
        max-width: 50%;
        width: 50%;

        @media screen and (max-width: $w1024) {
            width: 0;
        }


        & .bgimage {
            width: 100%;
            @include bgimage-contain;
            padding-top: 50vw;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50vw;
            max-width: 850px;
            background-position-y: bottom;
            z-index: 3;

            @media screen and (max-width: $w1024) {
                right: -68px;
                bottom: 100%;
                width: 46vw;
            }
        }
    }


}


.placemark-item {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(135deg, #CBA55F 11.85%, #96763C 84.6%);
    //background-color: $red;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}