mixin mapcustom()
  section.section-mapcustom
    .mapcustom
      .mapcustom__wrp
        .mapcustom__container
          .mapcustom__maps(style="background-image: url('/img/common/custommap-bg.png')")
          .mapcustom__badges
            .container
              .mapcustom__badges-left: +bgimage('/img/common/badge-rose.png')
              .mapcustom__badges-right: +bgimage('/img/common/badge-map-2.svg')
        .mapcustom__desc
          .container
            .mapcustom__text Хамовники за последние 20 лет превратились в одну из самых престижных для проживания локаций Москвы. Хамовники пользуются популярностью из-за центрального расположения, хорошей экологии и транспортной доступности.
            .mapcustom__image: +bgimage('/img/common/custom-map-desc.png')