mixin minicard(data)
  .minicard 

    .minicard__top
      .minicard__type Квартира
      .minicard__id ID: 2589

    .minicard__image
      +bgimage('/img/catalog/'+data+'.jpg')

    .minicard__desc
      .minicard__props
        ul
          li Отделка: <span>Без отделки</span>
          li Площадь: <span>775 м2</span>
          li Участок: <span>23 сот.</span>
          li Участок: <span>23 сот.</span>
          li Участок: <span>23 сот.</span>
      .minicard__price
        .minicard__usd 1 0016 811 $
        .minicard__rub  66 977 341 руб

    .minicard__btn: button.btn.btn-green(data-fancybox="catalog" data-type="ajax" data-src="_popup-card.html") Подробнее