mixin minicard(data)
  .minicard

    .minicard__top
      .minicard__type Квартира
      .minicard__id ID: 2589

    .minicard__image
      +bgimage('/img/catalog/'+data+'.jpg')

    .minicard__desc
      .minicard__title
        a(href='#') 2 комн. кв, 120 м2
        span.add-favorite
      .minicard__subtitle Резиденция на Всеволожском
      .minicard__props
        ul
          li Всеволожский переулок, 5 <span></span>
          li Комнат: <span>2</span>
          li Площадь: <span>775 м2</span>
          li Этаж: <span>3/20</span>
      .minicard__price
        .minicard__rub  250 000 000 ₽

    .minicard__link
      a(href='/page-apartment.html'): button.btn.btn-line Подробнее

