.header-top
  .header-top__logo: a(href='/'): +bgimage('/img/common/logo.svg')
  .header-top__msgr
    ul
      li: a(href='#'): +icons('#ic_wa')
      li: a(href='#'): +icons('#ic_tg')
  .header-top__phone
    a(href='tel:+7 (495) 085-16-64') +7 (495) 085-16-64

  .header-top__menu
    .burger
      i
      i
      i

















