mixin history()
  .section-history(style="background-image: url('/img/common/bg-history.png')")
    .container
      .history
        .history__title История района Хамовники: ткачи, предприниматели и аристократы
        .history__desc(data-toggle-elem="history")
          p Перенесемся лет на 700 назад, когда на территории Москвы правили еще не президенты и министры, а русские князья. Чтобы обслуживать княжеские дворцы часть крепостных крестьян освобождали от местных повинностей. Так на Руси появились слободы – поселения, в которых жители имели льготы, не платили подати и не воевали, а занимались производством разных нужных продуктов ко двору. Название «слобода» происходит от слова свобода.
          h2 Жили ли в Хамовниках хамы?
          p Примерно 400 лет назад в Москве стало развиваться ткачество. В начале 17 века на земли района, который современные москвичи знают, как Хамовники переселили ткачей из небольшой деревушки под Тверью. Поселение назвали дворцовой Хамовной слободой. Хамом в те годы завывали ткацкое полотно, хамьяном – один из сортов недорогой шелковой ткани, которую использовали для шитья скатертей, подшивки одежды, белья и других нужд княжеского двора. Мастеров ткацкого дела именовали хамовниками.
          p В начале 17 века на земли района, который современные москвичи знают, как Хамовники переселили ткачей из небольшой деревушки под Тверью. Поселение назвали дворцовой Хамовной слободой. Хамом в те годы завывали ткацкое полотно, хамьяном – один из сортов недорогой шелковой ткани, которую использовали для шитья скатертей, подшивки одежды, белья и других нужд княжеского двора. Мастеров ткацкого дела именовали хамовниками.
        .history__more(data-toggle="history")
          span читать полностью
          span.active-text свернуть
          +icons('#ic_more', 40)


