.section-infrastructure {
    @include jk-padding;
    color: #fff;
}

.infrastructure {

    background-repeat: no-repeat;
    background-position: right -150px;


    & .container {
        max-width: rem(1440)
    }

    &__title {
        @include section-title;
        text-align: center;
        justify-content: center;
    }

    &__desc {
        font-family: Circe;
        font-style: normal;
        font-weight: 350;
        font-size: rem(30);
        line-height: 120%;
        color: #242424;
        max-width: rem(1010);
        margin-right: auto;
        padding-top: rem(60);

        @media screen and (max-width: $w1024) {
            font-size: rem(24);
            line-height: 140%;
        }
    }

    &__list {
        padding-top: rem(80);

        @media screen and (max-width: $w760) {
            padding-top: rem(40);

        }

        @media screen and (min-width: $w760) and (max-width: $w1024) {
            max-width: 90%;
            margin: auto;
        }

        & ul {
            @include row-flex();

            & li {
                @include col();
                @include size-w1024(3);
                @include size-w580(6);
                @include size(12);
            }

            & li {
                font-size: rem(17);
                color: #242424;
                padding-bottom: rem(17);
                display: flex;
                padding-left: rem(25);
                position: relative;

                @media screen and (max-width: $w580) {
                    display: none;

                    &:nth-child(-n+16) {
                        display: block;
                    }
                }

                &::before {

                    position: absolute;
                    left: 0;
                    top: rem(3);
                    content: '';
                    background: linear-gradient(70.83deg, #A7882A 23.26%, #C9AF60 92.52%), #C9AF60;
                    border-radius: 50%;
                    display: block;

                    width: rem(12);
                    min-width: rem(12);
                    height: rem(12);
                }
            }

            &.active {
                & li {
                    display: block;
                }
            }

        }
    }

    &__more {

        @media screen and (min-width: $w580) {
            display: none;
        }

        color: #000;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: rem(25);
        cursor: pointer;


        & span {
            font-size: 15px;
            line-height: 187%;
            letter-spacing: 0.1em;
            text-decoration-line: underline;
            text-transform: uppercase;
            margin-right: rem(15);
        }
    }


}

[data-toggle] {

    &.active {

        & svg {
            transform: rotate(180deg);
        }

        & span {
            display: none;
        }

        & .active-text {
            display: block;
        }
    }

    & span {
        animation: slide-left 0.3s ease 1 forwards;
    }

    & .active-text {
        display: none;
    }
}