.section-jk-map {
    padding-top: 33%;
    min-height: rem(350);
    position: relative;
    background-color: #666;


}

.jk-map {
    &__container {
        @include layer(1);
    }
}

.sh-balloon {
    background: #000;
    min-width: rem(100);
    position: absolute;
    border-radius: rem(60);
    padding: rem(15) rem(25);
    overflow: hidden;
    color: #fff;

    animation: slide-left 0.5s ease forwards;

    @media screen and (max-width: $w760) {
        padding: rem(10) rem(20) rem(8) rem(20);
        margin-top: -11px;
    }



    &__content {

        font-weight: 350;
        font-size: rem(22);
        line-height: 25px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #FFFFFF;

        & a {
            color: #FFFFFF;

            &:hover {
                text-decoration: underline;
            }
        }

        @media screen and (max-width: $w760) {
            font-size: rem(17);
        }


        @media screen and (max-width: $w360) {
            font-size: rem(16);
        }
    }

    &__close {
        display: none;
    }

    &__arrow {
        display: none;
    }
}

.mapcustom {
    & .sh-balloon {
        @media screen and (max-width: $w580) {
            max-width: 50%;
            width: auto;
            left: 4vw !important;
            right: auto !important;
            bottom: 4vw !important;
        }

        @media screen and (max-width: $w480) {
            max-width: 60%;
            width: auto;
        }

        @media screen and (max-width: $w360) {
            max-width: 70%;
            width: auto;

        }
    }
}

.ymaps-2-1-78-ground-pane {
    filter: grayscale(1);
}