mixin jk-map()
  section.section-jk-map
    script.
      const mapsParams = {
        container: 'jk-map-container',
        params: {
          center: [55.74481370529173, 37.67514980332959],
          zoom: 12,
          controls: ['zoomControl', 'fullscreenControl']
        },
        ballonMobileMode: false,
        icons: {
          'default':'/img/svg/ic_pin-map-jk.svg',
          'active':'/img/svg/ic_pin-map-open.svg',
        },
        points: [
        {
          'pin': [55.74481370529173, 37.67514980332959],
          'balloonContent': 'Allegoria Mosca',
          'draggable': false,
          'zoom': 13
        }
      ]
      };
    .jk-map__container(id="jk-map-container")  

