.section-question-five {
    padding-top: rem(80);
    padding-bottom: rem(80);

    background-size: cover;

    & .container {
        max-width: 1440px
    }
}

.question-five {
    &__wrp {
        @include row-flex;
        align-content: center;

        &>div {
            @include col();
            @include size-w1024(6);
            @include size(12);
        }
    }

    &__text {
        font-size: rem(32);
        line-height: 112%;
        color: #000000;

        @media screen and (max-width: $w1024) {
            font-size: rem(26);
            text-align: center;
        }
    }

    &__btn {
        display: flex;
        align-items: center;

        @media screen and (max-width: $w1024) {
            padding-top: rem(30);
        }

        & .btn {
            max-width: rem(400);
            margin: auto;
        }
    }
}