mixin question-five()
  .section-question-five(style="background-image: url('/img/common/bg-five.png')")
    .question-five
      .container
        .question-five__wrp
          .question-five__text Ответьте на 5 коротких вопросов. Мы подберем предложения, максимально близко подходящие критериям запроса. С вами свяжется наш специалист, обладающей многолетней экспертизой в вопросе.
          .question-five__btn
            button.btn.btn-gold.btn-full Подобрать предложение
