include ../../blocks/modules/jk-signup/jk-signup.pug
include ../../views/helpers/mixins.pug

.callback-popup
  .callback-popup__close(data-fancybox-close=""): +icons('#ic_close-quiz', 60) 
  .callback-popup__content
    +circle-form({
      title: 'Заказать <br> обратный звонок',
      desc: 'В ближайшее время с Вами свяжется наш менеджер.',
    })