extends ../layouts/index

include ../../blocks/modules/header/header.pug
include ../../blocks/modules/jk-first-block/jk-first-block
include ../../blocks/modules/jk-about/jk-about
include ../../blocks/modules/jk-gallery/jk-gallery
include ../../blocks/modules/jk-catalog/jk-catalog
include ../../blocks/modules/jk-presentation/jk-presentation
include ../../blocks/modules/jk-advantages/jk-advantages
include ../../blocks/modules/jk-signup/jk-signup
include ../../blocks/modules/jk-developer/jk-developer
include ../../blocks/modules/jk-map/jk-map
include ../../blocks/modules/specialists/specialists
include ../../blocks/modules/question-five/question-five
include ../../blocks/modules/slider-region/slider-region.pug
include ../../blocks/modules/main-menu/main-menu.pug

block variables
  include ../../data/data.pug 

block header
  +header-top-jk()

block content
  +jk-first-block()
  +jk-about()
  +jk-gallery()
  +jk-catalog()
  +jk-presentation()
  +jk-advantages(jk_advantages)
  +specialists()
  +question-five()
  +jk-signup()
  +jk-developer()
  +slider-region(slider_region)
  +jk-map()

  +main-menu-jk(

    [
    { 
      'text':'О Жилом комплексе', 
      'link':'#about-jk' },
    { 
      'text':'Галерея', 
      'link':'#gallery-jk' },
    { 
      'text':'Квартиры', 
      'link':'#rooms-jk' },
    { 
      'text':'Презентация', 
      'link':'#presentation-jk' },
    { 
      'text':'Преимущества', 
      'link':'#advantages-jk' },
    { 
      'text':'Сотрудники', 
      'link':'#specialists' },
    { 
      'text':'О застройщике', 
      'link':'#developer-jk' },
    { 
      'text':'Похожие предложения', 
      'link':'#similar-jk' },
    { 
      'text':'Контакты', 
      'link':'#jk-map-container' },


  ])




block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
