extends ../layouts/index

include ../../blocks/modules/header/header.pug
include ../../blocks/modules/jk-first-block/jk-first-block
include ../../blocks/modules/jk-about/jk-about
include ../../blocks/modules/jk-gallery/jk-gallery
include ../../blocks/modules/jk-catalog/jk-catalog
include ../../blocks/modules/jk-presentation/jk-presentation
include ../../blocks/modules/jk-advantages/jk-advantages
include ../../blocks/modules/jk-signup/jk-signup
include ../../blocks/modules/jk-developer/jk-developer
include ../../blocks/modules/jk-map/jk-map
include ../../blocks/modules/specialists/specialists
include ../../blocks/modules/question-five/question-five
include ../../blocks/modules/slider-region/slider-region.pug
include ../../blocks/modules/main-menu/main-menu.pug

block variables
  include ../../data/data.pug 

block header
  +header-top-jk()

block content
  +jk-first-block()
  +jk-about()
  +jk-gallery()
  +jk-catalog()
  +jk-presentation()
  +jk-advantages(jk_advantages)
  +specialists()
  +question-five()
  +jk-signup()
  +jk-developer()
  +slider-region(slider_region)
  +jk-map()

  +main-menu-jk([

    'О Жилом комплексе',
    'Галерея',
    'Квартиры',
    'Презентация',
    'Преимущества',
    'Сотрудники',
    'Как мы работаем',
    'О застройщике',
    'Похожие предложения ',
    'Контакты',

  ])




block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
