



mixin item-digit(data)
  .jk-advantages-item
    .jk-advantages-item__left 
      .jk-advantages-item__title= data.title
    .jk-advantages-item__right
      .jk-advantages-item__desc!= data.desc

mixin jk-advantages(data)
  section.section-jk-advantages(id="advantages-jk")
    .container
      .jk-advantages
        .jk-advantages__wrp
          .jk-advantages__img-column: +bgimage('/img/common/digits-title.png')
          .jk-advantages__title Преимущества жилого комплекса Allegoria Mosca
          .jk-advantages__angles-top
          .jk-advantages__list
            each item in data
              .jk-advantages__item: +item-digit(item)
          .jk-advantages__angles-bottom
