.breadcrumb {

    background-color: transparent;
    padding: 0 0 0 0;

    & ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        overflow-x: auto;
        white-space: nowrap;
    }

    & li {

        display: flex;
        align-items: center;

        & a {

            &:hover {
                text-decoration: underline;
            }
        }

        &::after {
            content: '/';
            margin: 0 rem(10);
            color: #c4c4c4;
            display: inline-block;
            border-radius: 50%;
            position: relative;

        }

        &:last-child::after {
            display: none;
        }

    }



    @media screen and (max-width: $w480) {
        & li {

            display: none;

            &:nth-last-child(2) {
                display: block;
            }

            & a {
                color: $gray;
                font-size: 13px;
                text-decoration: underline;

                &:hover {
                    text-decoration: underline;
                }
            }

            &::after {
                display: none;
            }

            &::before {
                content: '';
                padding: 0 rem(10);
                background-image: url('/img/svg/ic_subcat-back.svg');
                width: 11px;
                height: 10px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
        }
    }
}