.section-specialists {
    background: #242424;
    padding-top: rem(80);
    padding-bottom: rem(80);
    position: relative;
    overflow: hidden;

    &__dec {

        &-left,
        &-right {
            width: 35vw;
            top: 0;

            & .bgimage {
                @include bgimage-contain;
                padding-top: 45%;
                mix-blend-mode: multiply;
                opacity: 0.6;
            }
        }

        &-left {
            position: absolute;
            left: 0;
            transform: translateX(-50%);
            z-index: 1;
        }

        &-right {
            position: absolute;
            right: 0;
            transform: translateX(50%);
            z-index: 1;
        }
    }
}

.specialists {


    &__title {
        @include section-title;
        text-align: center;
        justify-content: center;
        color: #fff;
    }

    &__list {
        padding-top: rem(80);
        position: relative;
        z-index: 2;

        @media screen and (max-width: $w1024) {
            max-width: 740px;
            margin: auto;


        }
    }

    & .swiper-slide {
        padding-left: rem(40);
        padding-right: rem(40);

        @media screen and (max-width: $w760) {
            padding-top: 12%;
        }

        @media screen and (max-width: $w580) {
            padding-left: rem(25);
            padding-right: rem(25);
        }

        @media screen and (max-width: $w480) {
            padding-left: rem(15);
            padding-right: rem(15);
        }
    }


    &__nav {

        @media screen and (max-width: $w580) {
            display: none;
        }

        & .slider-slider-nav {
            @media screen and (max-width: $w1024) {
                justify-content: space-between;
                top: 55%;
                position: absolute;
                left: 30px;
                right: 30px;
                max-width: 85%;
                margin: auto;
                z-index: 2;
            }

            @media screen and (max-width: $w940) {
                top: 50%;
                padding-top: 7%;
                max-width: 95%;
            }

            @media screen and (max-width: $w760) {
                top: auto;
                bottom: rem(130);
                max-width: 82%;

            }
        }

        & .slider-slider-nav__next,
        & .slider-slider-nav__prev {
            @media screen and (max-width: $w1024) {
                display: flex;
                margin: 0;
            }
        }
    }


}

.item-specialists {


    border: 1px solid #3F3F3F;
    margin-bottom: 2px;


    &__wrp {
        padding: rem(50);
        display: flex;
        align-items: center;

        @media screen and (max-width: $w1024) {
            padding-left: rem(0);
        }

        @media screen and (max-width: $w760) {
            flex-direction: column;
            padding-right: 0;
            padding-top: 0;

        }

    }

    &__props {

        padding-top: rem(40);

        @media screen and (max-width: $w1024) {
            padding-top: rem(20);

        }

        & li {
            color: #fff;
            font-weight: 350;
            font-size: rem(22);
            line-height: 182%;

            @media screen and (max-width: $w1024) {
                line-height: 160%;
                font-size: rem(20);
            }

            @media screen and (max-width: $w760) {
                text-align: center;
            }
        }
    }

    &__image {
        @include col();
        @include size(5);
        position: relative;

        @media screen and (max-width: $w1024) {
            max-width: 60%;
            width: 60%;
            margin-right: -8%;
            position: relative;
            left: -11%;
        }

        @media screen and (max-width: $w760) {
            margin-right: 0;
            position: relative;
            left: auto;
            margin-top: -12%;
        }

        &::before {
            content: '';
            padding-top: 100%;
            background-color: transparent;
            display: block;
            z-index: 2;
            position: relative;
            border-radius: 50%;


        }

        & .bgimage {
            padding-top: 100%;
            @include bgimage-contain;
            @include layer(2);
            top: auto;
            border-radius: 50% 0 50% 0;

        }
    }

    &__main {
        @include col();
        @include size(7);

        @media screen and (max-width: $w760) {
            padding-top: rem(35);
            width: 100%;
        }
    }

    &__name {
        font-family: EB Garamond;
        font-style: normal;
        font-weight: bold;
        font-size: rem(50);
        line-height: 68%;
        color: #fff;

        @media screen and (max-width: $w1024) {
            font-size: rem(40);
        }

        @media screen and (max-width: $w760) {
            text-align: center;
        }
    }

    &__post {
        font-size: rem(19);
        line-height: 147%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        padding-top: rem(40);

        @media screen and (max-width: $w1024) {
            font-size: rem(16);
            padding-top: rem(30);
        }

        @media screen and (max-width: $w760) {
            text-align: center;
        }
    }

    &__btn {
        padding-top: rem(30);

        & button {
            width: 100%;
            max-width: rem(300);

            @media screen and (max-width: $w760) {
                margin: auto;
            }
        }
    }

}