
mixin ap-about()
  section.section-ap-about(id="about-ap")
    .container
      .ap-about
        .ap-about__img-column: +bgimage('/img/common/digits-title.png')
        .ap-about__wrp
          .ap-about__title описание квартиры
          .ap-about__text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis massa semper ornare consequat curabitur cras at. Eget semper quam volutpat ut morbi quam in aliquet venenatis. Purus vulputate nisl, turpis laoreet ultrices dignissim vitae ante. Arcu vel vehicula cursus orci pharetra magna mattis ut.  Purus vulputate nisl, turpis laoreet ultrices dignissim vitae ante. Arcu vel vehicula cursus orci pharetra magna mattis ut.



