.section-jk-presentation {
    background-color: #323232;
    position: relative;
    overflow: hidden;
}

.jk-presentation {

    padding-top: 50%;

    &__wrp {
        position: absolute;
        left: -28%;
        top: -66%;
        bottom: -10%;
    }

    & .presentation-block {
        width: 122vw;
        height: 122vw;
    }

    & .presentation-block__center {
        width: 35%;
        height: 35%;
    }

    & .presentation-block__center .bgimage {
        left: -5%;
    }
}