.section-ap-mortgage {
    @include jk-padding;

    padding-bottom: 0 !important;
    position: relative;
}

.ap-mortgage-manager {
    display: flex;

    &__text {
        width: 35%
    }

    &__photo {
        width: 65%;


        & .bgimage {
            @include layer(1);

            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom center;

            margin-left: -9vw;
        }
    }

    &__percent {
        font-size: rem(39);
        line-height: 113%;
        display: flex;
        justify-content: center;
        color: #343434;
        padding-bottom: rem(30);

        & span {
            min-width: rem(270);
            width: rem(270);
            height: rem(270);
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #fff;
        }
    }

    &__time {
        font-size: rem(39);
        line-height: 113%;
        display: flex;
        justify-content: center;
        color: #343434;

        & span {
            width: rem(180);
            min-width: rem(180);
            height: rem(180);
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #fff;
        }
    }

    &__name {

        display: flex;
        flex-direction: column;
        padding-top: 5vw;

        & span:first-child {

            font-weight: bold;
            font-size: rem(26);
            line-height: 160.9%;
            text-align: right;
            color: #343434;

        }

        & span:last-child {
            font-size: rem(18);
            line-height: 160.9%;
            text-align: right;
            color: #343434;
        }
    }


}

.ap-mortgage {
    &__title {
        @include section-title;

        max-width: rem(910);
        margin: 0 auto;
        padding-bottom: rem(100);
        justify-content: center;

        @media screen and (max-width: $w940) {
            padding-bottom: rem(60);

        }
    }

    &__desc {
        display: flex;
        align-items: center;
        position: relative;

    }

    &__left {
        width: 60%
    }

    &__right {
        width: 40%;
        margin-left: -13%;

        @include jk-padding;

        padding-top: 0 !important;
        z-index: 2;
    }

    &__img {

        @include jk-column-img;

    }

    &__text {

        font-weight: 300;
        font-size: rem(18);
        line-height: 146%;
        color: #000000;
        padding-top: rem(80);

        @media screen and (max-width: $w940) {
            padding-top: rem(45);
        }

        & p {
            margin-top: rem(15);
        }
    }




}