mixin circle-form-2(data)
  .circle-form
    .circle-form__wrp
      .circle-form__title!= data.title
      .circle-form__desc!= data.desc
      .circle-form__form
        form(action='#' method='POST' data-type="ajax")
          .form
            .form__item: .form__subitem: input(class="required" type="text" placeholder="Имя")
            .form__item: .form__subitem: input(class="required" type="tel" placeholder="Телефон")
            .form__item: .form__subitem: button.btn.btn-green(type="submit") Отправить


mixin ap-mortgage()
  section.section-ap-mortgage(id="mortgage-ap" style="background-image: url('/img/common/ap-backgroung-mortgage.jpg')")
    .container
      .ap-mortgage
        .ap-mortgage__wrp
          .ap-mortgage__title Ипотека
          .ap-mortgage__desc
            .ap-mortgage__left
              .ap-mortgage-manager
                .ap-mortgage-manager__text
                  .ap-mortgage-manager__percent: span Ставка <br> от 5.99%
                  .ap-mortgage-manager__time: span Решение <br> за 72 часа
                  .ap-mortgage-manager__name
                    span Имя Фамилия
                    span специалист по кредитованию

                .ap-mortgage-manager__photo: +bgimage('/img/common/manager.png')

            .ap-mortgage__right
              +circle-form-2({
                title: 'Подать заявку <br> на ипотеку',
                desc: 'Подайте заявку на ипотеку и получите решение сразу из нескольких банков партнёров.',
              })




