mixin checkbox-elem(text)
  label
    input(type="checkbox")
    div: span= text


mixin select-jk(data)
  .select-jk
    .select-jk__close(data-select-jk="close"): +icons('#ic_close-quiz', 60)
    .select-jk__wrp
      .select-jk__list
        each item in data
          .select-jk__item
            .select-jk-item
              .select-jk-item__symbol= item.symbol
              .select-jk-item__checkbox
                each text in item.list
                  +checkbox-elem(text)
    .select-jk__btn
      button.btn.btn-green(data-select-jk="select") Показать <span></span> объектов