extends layouts/index
include ../blocks/modules/first-block/first-block
include ../blocks/modules/slider-region/slider-region
include ../blocks/modules/estate-in-numbers/estate-in-numbers
include ../blocks/modules/current-offers/current-offers
include ../blocks/modules/mapcustom/mapcustom
include ../blocks/modules/infrastructure/infrastructure
include ../blocks/modules/specialists/specialists
include ../blocks/modules/question-five/question-five
include ../blocks/modules/history/history
include ../blocks/modules/catalog/catalog/catalog
include ../blocks/modules/catalog/select-jk/select-jk
include ../blocks/modules/main-menu/main-menu.pug
include ../blocks/modules/header/header.pug

block variables
  include ../data/data.pug

block header
  +header-top-main()

block content
  +first-block()
  +slider-region(slider_region)
  +mapcustom()
  +catalog()
  +current-offers()
  +estate-in-numbers(digits)

  +infrastructure()
  +specialists()
  +question-five()
  +history()
  +slider-region(slider_region)

  +main-menu([
    'Карта с Жилыми Комплексами',
    'Квартиры',
    'О недвижимости в Хамовниках',
    'Инфраструктура',
    'Наши специалисты',
    'История района Хамовники',
  ])

block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
