extends layouts/index
include ../blocks/components/video/video
include ../blocks/components/faq/faq.pug

block variables
  include ../data/data.pug



block content
  div cdcdc


block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
