


mixin jk-developer()
  section.section-jk-developer(id="developer-jk")
    .container
      .jk-developer
        .jk-advantages__img-column: +bgimage('/img/common/digits-title.png')
        .jk-developer__wrp
          .jk-developer__title О застройщике жилого комплекса Allegoria Mosca
          .jk-developer__list
            .jk-developer__item
              .jk-developer__logo: +bgimage('/img/common/logo-developer.png')
              .jk-developer__text
                p «Стройтэкс» — один из крупнейших застройщиков Московского региона, успешно работающий на российском рынке недвижимости более 20 лет. Компания специализируется на строительстве жилых комплексов комфорт класса, реализации уникальных архитектурных проектов De Luxe, а также административных зданий в Москве и ближайшем Подмосковье.
                p Группа компаний «Стройтэкс» включает более 30 предприятий различного профиля и обладает необходимыми финансовыми и производственными возможностями для инвестирования в комплексные проекты.
          .jk-developer__digits
            .jk-developer__digits-item
              .jk-developer__digits-title 1 500 000 м2 
              .jk-developer__digits-text введено в эксплуатацию
            .jk-developer__digits-item
              .jk-developer__digits-title 25 
              .jk-developer__digits-text  лет на рынке 
            .jk-developer__digits-item
              .jk-developer__digits-title 106
              .jk-developer__digits-text  реализованных комплексов 
            .jk-developer__digits-item
              .jk-developer__digits-title 75 000
              .jk-developer__digits-text  счастливых жильцов 
