.section-jk-developer {
    background-color: #fff;
    @include jk-padding;
    position: relative;


    & .container {
        max-width: rem(1440)
    }
}

.jk-developer {


    &__title {
        @include section-title;
        color: #242424;
        text-align: center;
        justify-content: center;

        max-width: rem(1010);
        margin: 0 auto;

        padding-bottom: rem(100);

        @media screen and (max-width: $w940) {
            padding-bottom: rem(50);
        }

    }

    &__list {
        position: relative;
        z-index: 1;
    }

    &__item {
        @include row-flex();
    }

    &__logo {
        @include col();
        @include size-w1024(4);
        @include size(12);
    }

    &__text {
        @include col();
        @include size-w1024(8);
        @include size(12);
    }

    &__text {
        font-weight: 350;
        font-size: rem(24);
        line-height: 146%;

        @media screen and (max-width: $w1024) {
            font-size: rem(20);
        }

        & p {
            margin-bottom: rem(30);
        }
    }

    &__img {
        @include jk-column-img;
    }

    &__logo {
        & .bgimage {
            padding-top: 26%;
            @include bgimage-contain;

            @media screen and (max-width: $w1024) {
                max-width: 360px;
                margin: auto;
                padding-top: 15%;
            }

            @media screen and (max-width: $w480) {
                padding-top: 25%;
            }
        }
    }

    &__digits {

        @include row-flex();
        padding-top: rem(80);

        @media screen and (max-width: $w940) {
            padding-top: rem(40);

        }

        &>div {
            @include col();
            @include size-w1024(3);
            @include size-w360(6);
            @include size(12);

            @media screen and (max-width: $w1024) {
                padding-top: rem(25);
                padding-bottom: rem(25);
            }
        }

        &-title {
            font-family: Muller;
            font-weight: 500;
            font-size: rem(42);
            line-height: 100%;
            color: #1E1E1E;
            text-align: center;

            @media screen and (max-width: $w1024) {
                font-size: rem(35);
            }

            @media screen and (max-width: $w580) {
                font-size: rem(29);

            }
        }

        &-text {
            font-size: rem(24);
            line-height: 100%;
            text-align: center;
            text-align: center;
            padding-top: rem(10);

            @media screen and (max-width: $w580) {
                font-size: rem(20);
            }
        }
    }
}