.btn {

    border: none;
    padding: 0.9em 2.6em;
    color: #fff;
    background: #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: none;
    text-transform: uppercase;
    border-radius: 60px;
    min-width: rem(130);
    height: rem(70);

    font-weight: 400;
    font-size: rem(22);

    white-space: nowrap;

    @media screen and (max-width: $w580) {
        font-size: 13px;
        height: 45px;
    }

    @media screen and (max-width: $w480) {
        font-size: 13px;
        height: 40px;
    }


    &:hover {
        opacity: 0.9;
    }

    &:active,
    &:focus {
        border: none;
        outline: none;
    }



    &.btn-green {
        color: #343434;
        background: #A3D39C;
        text-transform: none;
        font-weight: 350;

    }

    &.btn-gold {
        color: #fff;
        background: linear-gradient(70.83deg, #A7882A 23.26%, #C9AF60 92.52%), #C9AF60;
        text-transform: none;
        font-weight: 350;

    }


    &:disabled {
        background-color: #9D9D9D;
        color: #fff;
        cursor: not-allowed;

        &:hover {
            opacity: 0.9;
        }
    }

    &.btn-line {
        border: 1px solid #242424;
        background: none;
        text-transform: none;
        font-weight: bold;
        color: #242424;

        &:hover {
            background-color: $main;
            color: #fff !important;
            border-color: $main
        }
    }


    &.btn-full {
        width: 100%;
    }

    &.btn-bold {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: rem(1)
    }
}