mixin jk-about()
  section.section-jk-about
    .container
      .jk-about
        .jk-about__img-column: +bgimage('/img/common/digits-title.png')
        .jk-about__wrp
          .jk-about__title О Жилом комплексе Allegoria Mosca
          .jk-about__text
            p Элитный апарт-комплекс расположен в историческом центре Москвы, на пересечении улиц Пречистенки, Остоженки и площади Пречистенские Ворота. В пешей доступности находятся Храм Христа Спасителя, Пречистенская набережная, Музейный квартал на Волхонке, лучшие рестораны и бутики Золотой Мили.
            p В доме 57 объектов с высокими потолками до 3 метров. На последних этажах пентхаусы с открытыми террасами до 740 м², а на первых этажах некоторых апартаментов есть выход к собственному дворику-патио. Во внутреннем дворе обустроен ландшафтный сад. 
          .jk-about__tag
            ul
              li: a(href='#') Саморазвитие
              li: a(href='#') Частный сад
              li: a(href='#')  Приватность
              li: a(href='#') От 12 000 $/м2
              li: a(href='#') Террасы
              li: a(href='#') Площадь от 61 м2
              li: a(href='#') Апартаменты
              li: a(href='#') Патио
              li: a(href='#') Пентхаусы

