include ../../modules/quiz/quiz.pug

include ../../modules/catalog/select-jk/select-jk



.footer(style="background-image: url('/img/common/footer-bg.jpg');") 
  .container
    .footer__wrp
      .footer__address
        address Москва, 4-6, улица Остоженка 
        a(href='#') +7 (495) 085-16-64
      .footer__callback
        button.btn.btn-green  Заказать звонок
    .footer__logo: a(href='/'): +bgimage('/img/common/logo.svg')


+quiz(quizarr)


+select-jk(jk)









