.first-block {

    position: relative;

    & .container {
        max-width: rem(1270);
    }

    &__bg {

        position: relative;


        & .bgimage {
            display: block;
            padding-top: 56.3%;
            @include bgimage-cover;

            @media screen and (max-width: $w1100) {
                padding-top: 60%;
            }

            @media screen and (max-width: $w760) {
                padding-top: 120%;
            }

            @media screen and (max-width: $w580) {
                padding-top: 140%;
            }

            @media screen and (max-width: $w480) {
                padding-top: 160%;
            }
        }

        @media screen and (max-width: $w940) {
            // @include layer(1);
            // padding-top: 0%;
        }


    }

    &__bgimage1 {
        @include layer(2);
        display: flex;
        align-items: flex-end;
        width: 100%;


        & .bgimage {
            padding-top: 35%;
            @include bgimage-contain;
            background-repeat: repeat-x;
            background-position: bottom center;
            width: 100%;
            opacity: 0.9;

            @media screen and (max-width: $w1100) {
                padding-top: 41%;
            }

            @media screen and (max-width: $w940) {
                height: 100%;
            }
        }
    }

    &__bgimage2 {
        position: relative;
        z-index: 1;
    }

    &__content {
        padding-top: 60px;
        @include layer(3);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);

        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: $w940) {
            // position: relative;
            // z-index: 2;

        }

    }

    &__desc {

        & strong {
            font-weight: 800;
        }

        font-size: rem(24);
        line-height: rem(35);
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: rem(760);
        margin-right: auto;

        @media screen and (max-width: $w1440) {
            font-size: rem(24);
        }

        @media screen and (max-width: $w940) {
            font-size: rem(19);
        }

        @media screen and (max-width: $w580) {
            font-size: rem(14);
        }
    }

    &__title {
        font-family: Muller;
        font-style: normal;
        font-weight: 800;
        font-size: rem(182);
        line-height: 120%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;

        padding-top: rem(50);

        @media screen and (max-width: 1680px) {
            font-size: rem(140);
        }

        @media screen and (max-width: $w1440) {
            font-size: rem(92);
        }

        @media screen and (max-width: $w1376) {
            text-align: left;
        }

        @media screen and (max-width: $w580) {
            font-size: rem(41);
            padding-top: 0;
            padding-bottom: rem(0);
            margin-bottom: rem(20);

            @include line-clamp(4);
        }

        @media screen and (max-width: $w360) {
            @include line-clamp(2);
        }

    }

    &__wrp {
        max-width: rem(1290);
        margin: 0 auto;
        margin-top: -7%;

        @media screen and (max-width: $w1376) {
            margin-left: rem(30);
            margin-top: 0;
        }

        @media screen and (max-width: $w580) {
            padding-bottom: 47%;
            flex-direction: column-reverse;
            display: flex;
        }

    }

    &__btn {
        max-width: rem(400);
        margin: 0 auto;
        padding-top: rem(50);

        @media screen and (max-width: $w1024) {
            display: none;
        }

    }

    &__play {
        position: absolute;
        right: -6vw;
        top: rem(-153);

        @media screen and (max-width: $w1100) {
            position: absolute;
            right: -11vw;
            top: 4.438rem;
        }

        @media screen and (max-width: $w760) {
            top: rem(-80);
        }

        @media screen and (max-width: $w580) {
            top: auto;
            bottom: -15%;
            right: -18vw;
        }



        & a {
            width: 48vw;
            padding-top: 100%;
            display: block;
            background-color: transparent;
            border-radius: 50%;
            border: 2px solid #A3D39C;
            box-sizing: border-box;

            @media screen and (max-width: $w760) {
                width: 75vw;
            }

            @media screen and (max-width: $w480) {
                width: 110vw;
            }


            & svg {
                width: 39%;
                height: 39%;
                margin: auto;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;

                @media screen and (max-width: $w480) {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }



}