- 
  const slider_region = [
    {
      'title':'KNIGHTSBRIDGE PRIVATE PARK',
      'image':'/img/catalog/r1.jpg'
    },
    {
      'title':'HIGH GARDEN',
      'image':'/img/catalog/r2.jpg'
    },
    {
      'title':'ALLEGORIA MOSCA',
      'image':'/img/catalog/r3.jpg'
    },
  ]