- 
  const slider_region = [
    {
      'title':'KNIGHTSBRIDGE PRIVATE PARK',
      'image':'/img/catalog/r1.jpg'
    },
    {
      'title':'HIGH GARDEN',
      'image':'/img/catalog/r2.jpg'
    },
    {
      'title':'ALLEGORIA MOSCA',
      'image':'/img/catalog/r3.jpg'
    },
  ]

  const digits = [
    {
      'title':'167 лотов',
      'subtitle':'КОЛИЧЕСТВО ПРЕДЛОЖЕНИЙ',
      'desc':'В Хамовниках представлено жильё на самый изысканный и деликатный вкус — просторные квартиры, таунхаусы, апартаменты, пентхаусы.',
    },
    {
      'title':'от 8000 до 20 000 $',
      'subtitle':'СТОИМОСТЬ ЗА КВАДРАТНЫЙ МЕТР',
      'desc':'На стоимость квадратного метра жилья влияют много факторов: класс жилья, тип предложения, количество квартир в доме, год постройки, виды из окон, уровень команды проекта, безопасность и другие.',
    },
    {
      'title':'от 100 до 1000 м2',
      'subtitle':'ЖИЛАЯ ПЛОЩАДЬ',
      'desc':'Камерный особняк, четырехуровневая резиденция с лифтом или пентхаус с террасой — Ваш выбор. Наши брокеры подберут решение — просто  <a href="#"> оставьте заявку </a>.',
    },
    {
      'title':'от 50 млн до 2,5 млрд ₽',
      'subtitle':'ЦЕНОВОЙ ДИАПАЗОН',
      'desc':'Стоимость жилья в Хамовниках постоянно растёт — статусные соседи, инфраструктура, близость к центру Москвы формируют устойчивый спрос.   Выбирайте <a href="#">свой вариант сегодня </a>.',
    },

  ]

  const quizarr = [
    {
      'title':'Какой тип объекта вас <br> интересует?',
      'bg': '/src/img/quiz/q1.jpg',
      'answer':[
        'Квартира',
        'Резиденция',
        'Апартаменты',
        'Таунхаус',
        'Особняк',
        'Пентхаус',
        'Рассмотрю все',
      ],
    }, 
    {
      'title':'Выберите тип и класс жилья, <br> Вашего будущего дома:',
      'bg': '/src/img/quiz/q1.jpg',
      'answer':[
        'Новостройки',
        'Вторичное жильё',
        'Premium',
        'Таунхаус',
        'De Luxe',
        'Elite',
        'Ultra Luxury',
        'Рассмотрю все',
      ],
    }, 
    {
      'title':'Какие особенности должен <br> учитывать объект?',
      'bg': '/src/img/quiz/q1.jpg',
      'answer':[
        'Квартира',
        'Резиденция',
        'Апартаменты',
        'Таунхаус',
        'Особняк',
        'Пентхаус',
        'Рассмотрю все',
      ],
    }, 
    {
      'title':'Какую сумму вы планируете <br> инвестировать в недвижимость на Остоженке?',
      'bg': '/src/img/quiz/q1.jpg',
      'answer':[
        'Квартира',
        'Резиденция',
        'Апартаменты',
        'Таунхаус',
        'Особняк',
        'Пентхаус',
        'Рассмотрю все',
      ],
    }, 
    {
      'title':'Укажите, когда Вы планируете <br> приобрести недвижимость?',
      'bg': '/src/img/quiz/q1.jpg',
      'answer':[
        'Квартира',
        'Резиденция',
        'Апартаменты',
        'Таунхаус',
        'Особняк',
        'Пентхаус',
        'Рассмотрю все',
      ],
    }, 

  ]

  const infrastructure = [
    'Офис Яндекс',
    'Универ. клиническая больница №3',
    'ФГБНУ НИИ Глазных болезней',
    'НИИ по изысканию новых антибиотиков',
    'Фитнес X-Fit фьюжн Premium',
    'Стоматология Дентал фентези',
    'Ветклиника «Бетховен»',
    'Спа салон Deluxe Thai Spa',
    'ГЦКЗ Россия',
    'Спортивный комплекс «Буревестник»',
    'Усачёвский рынок',
    'Музей А. С. Пушкина',
    'Галерея Искусств З. Церетели',
    'Сквер девичьего поля',
    'Открытый аквакомплекс Лужники',
    'Парк Новодевичьи пруды',
    'Храм Христа Спасителя',
    'Спорткомплекс Лужники',
    'Cпортивный зал «Дружба»',
    'Аттракцион Zipline Skypark',
    'Спортшкола Paris Saint-Germain Academy',
    'РНЦ им. Академика Б. В. Петровского',
    'Фитнес клуб «Камелот Gum»',
    'Парк Усадьба Трубецких',
    'РТУ МИРЭА',
    'Ресторан «Белый Журавль»',
    'Стоматология «Славдент»',
    'Ресторан «Choice Moscow»',
    'Ресторан «Сибирь-Сибирь»',
    'Детсад «MySADIK»',
    'Институт РАО',
    'Гимназия №1529',
    'Школа 171',
    '15 минут до МГУ',
    '10 минут ходьбы до Кремля',
    'МПГУ институт филологии',
    ];





