- 
  const slider_region = [
    {
      'title':'KNIGHTSBRIDGE PRIVATE PARK',
      'image':'/img/catalog/r1.jpg'
    },
    {
      'title':'HIGH GARDEN',
      'image':'/img/catalog/r2.jpg'
    },
    {
      'title':'ALLEGORIA MOSCA',
      'image':'/img/catalog/r3.jpg'
    },
  ]

  const digits = [
    {
      'title':'167 лотов',
      'subtitle':'КОЛИЧЕСТВО ПРЕДЛОЖЕНИЙ',
      'desc':'В Хамовниках представлено жильё на самый изысканный и деликатный вкус — просторные квартиры, таунхаусы, апартаменты, пентхаусы.',
    },
    {
      'title':'от 8000 до 20 000 $',
      'subtitle':'СТОИМОСТЬ ЗА КВАДРАТНЫЙ МЕТР',
      'desc':'На стоимость квадратного метра жилья влияют много факторов: класс жилья, тип предложения, количество квартир в доме, год постройки, виды из окон, уровень команды проекта, безопасность и другие.',
    },
    {
      'title':'от 100 до 1000 м2',
      'subtitle':'ЖИЛАЯ ПЛОЩАДЬ',
      'desc':'Камерный особняк, четырехуровневая резиденция с лифтом или пентхаус с террасой — Ваш выбор. Наши брокеры подберут решение — просто  <a href="#"> оставьте заявку </a>.',
    },
    {
      'title':'от 50 млн до 2,5 млрд ₽',
      'subtitle':'ЦЕНОВОЙ ДИАПАЗОН',
      'desc':'Стоимость жилья в Хамовниках постоянно растёт — статусные соседи, инфраструктура, близость к центру Москвы формируют устойчивый спрос.   Выбирайте <a href="#">свой вариант сегодня </a>.',
    },

  ]

  const jk_advantages = [
    {
      'title':'Высокая транспортная доступность',
      'desc':'В 4 минутах ходьбы — станция метро «Кропоткинская». За 4 минуты можно доехать до Кремля, а за 5 минут — добраться до Садового кольца.',
    },
    {
      'title':'Высокие потолки',
      'desc':'Во всех помещениях потолки от 3,2 до 4 метров и панорамное остекление. Высокие потолки позволяют создавать уникальный интерьер за счет разноуровневого потолка и дизайнерской подсветки',
    },
    {
      'title':'Круглосуточная охрана',
      'desc':'В доме ведётся круглосуточное видеонаблюдение, установлена охранная сигнализация. Контроль доступа',
    },
    {
      'title':'Лучшие школы',
      'desc':'Рядом расположены университет РАНХиГС, частные детские сады «Лучик», «Бэби-клуб» и Kidsberry, Гимназия №1529 и №1555, школа №59 имени Гоголя, школа №50 и №1231, Пироговская школа, Политехнический техникум №2, Предуниверситарий МГЛУ',
    },

  ]

  const quizarr = [
    {
      'title':'Какой тип объекта вас <br> интересует?',
      'bg': '/img/quiz/q1.jpg',
      'answer':[
        'Квартира',
        'Резиденция',
        'Апартаменты',
        'Таунхаус',
        'Особняк',
        'Пентхаус',
        'Рассмотрю все',
      ],
    }, 
    {
      'title':'Выберите тип и класс жилья, <br> Вашего будущего дома:',
      'bg': '/img/quiz/q2.jpg',
      'answer':[
        'Новостройки',
        'Вторичное жильё',
        'Premium',
        'Таунхаус',
        'De Luxe',
        'Elite',
        'Ultra Luxury',
        'Рассмотрю все',
      ],
    }, 
    {
      'title':'Какие особенности должен <br> учитывать объект?',
      'bg': '/img/quiz/q3.jpg',
      'answer':[
        'Квартира',
        'Резиденция',
        'Апартаменты',
        'Таунхаус',
        'Особняк',
        'Пентхаус',
        'Рассмотрю все',
      ],
    }, 
    {
      'title':'Какую сумму вы планируете <br> инвестировать в недвижимость на Остоженке?',
      'bg': '/img/quiz/q4.jpg',
      'answer':[
        'Квартира',
        'Резиденция',
        'Апартаменты',
        'Таунхаус',
        'Особняк',
        'Пентхаус',
        'Рассмотрю все',
      ],
    }, 
    {
      'title':'Укажите, когда Вы планируете <br> приобрести недвижимость?',
      'bg': '/img/quiz/q5.jpg',
      'answer':[
        'Квартира',
        'Резиденция',
        'Апартаменты',
        'Таунхаус',
        'Особняк',
        'Пентхаус',
        'Рассмотрю все',
      ],
    }, 

  ]

  const infrastructure = [
    'Офис Яндекс',
    'Универ. клиническая больница №3',
    'ФГБНУ НИИ Глазных болезней',
    'НИИ по изысканию новых антибиотиков',
    'Фитнес X-Fit фьюжн Premium',
    'Стоматология Дентал фентези',
    'Ветклиника «Бетховен»',
    'Спа салон Deluxe Thai Spa',
    'ГЦКЗ Россия',
    'Спортивный комплекс «Буревестник»',
    'Усачёвский рынок',
    'Музей А. С. Пушкина',
    'Галерея Искусств З. Церетели',
    'Сквер девичьего поля',
    'Открытый аквакомплекс Лужники',
    'Парк Новодевичьи пруды',
    'Храм Христа Спасителя',
    'Спорткомплекс Лужники',
    'Cпортивный зал «Дружба»',
    'Аттракцион Zipline Skypark',
    'Спортшкола Paris Saint-Germain Academy',
    'РНЦ им. Академика Б. В. Петровского',
    'Фитнес клуб «Камелот Gum»',
    'Парк Усадьба Трубецких',
    'РТУ МИРЭА',
    'Ресторан «Белый Журавль»',
    'Стоматология «Славдент»',
    'Ресторан «Choice Moscow»',
    'Ресторан «Сибирь-Сибирь»',
    'Детсад «MySADIK»',
    'Институт РАО',
    'Гимназия №1529',
    'Школа 171',
    '15 минут до МГУ',
    '10 минут ходьбы до Кремля',
    'МПГУ институт филологии',
    ];

  const jk = [
    {
      'symbol': '1',
      'list':
        [
          '1-й Зачатьевский переулок, 19',
          '1-й Зачатьевский переулок, 6с2',
          '1-й Тружеников переулок, 17',
        ] 
    },


    {
      'symbol': '2',
      'list':
        [
          '2-й Зачатьевский переулок, 13',
          '2-й Зачатьевский переулок, 1А',
          '2-й Зачатьевский переулок, 1А',
          '2-й Зачатьевский переулок, 1А',
        ] 
    },
    {
      'symbol': '2',
      'list':
        [
          '2-й Зачатьевский переулок, 13',
          '2-й Зачатьевский переулок, 1А',
          '2-й Зачатьевский переулок, 1А',
          '2-й Зачатьевский переулок, 1А',
        ] 
    },

    {
      'symbol': 'A',
      'list':
        [
          'Allegoria Mosca',
        ] 
    },

    {
      'symbol': 'B',
      'list':
        [
          'Barkli Plaza',
        ] 
    },

    {
      'symbol': 'L',
      'list':
        [
          'La Defense',
          'Light House',
        ] 
    },

    {
      'symbol': 'M',
      'list':
        [
          'Magnum',
        ] 
    },

    {
      'symbol': 'N',
      'list':
        [
          'Noble Row',
        ] 
    },

    {
      'symbol': 'O',
      'list':
        [
          'Opera House',
        ] 
    },

    {
      'symbol': 'R',
      'list':
        [
          'RozaRossa',
        ] 
    },

    {
      'symbol': 'S',
      'list':
        [
          'Savvin River Residence',
        ] 
    },

    {
      'symbol': 'V',
      'list':
        [
          'Villa Grace',
        ] 
    },

    {
      'symbol': 'W',
      'list':
        [
          'White',
        ] 
    },

    {
      'symbol': 'Д',
      'list':
        [
          'Дом на Бурденко',
          'Дом на Девичьем поле',
          'Дом на Плющихе',
          'Дом на Трубецкой',
          'Дом с французскими окнами',
          'Дом у Пречистенских ворот',
        ] 
    },

    {
      'symbol': 'Е',
      'list':
        [
          'Еропкинский, 16',
          'Еропкинский, 4',
        ] 
    },

    {
      'symbol': 'К',
      'list':
        [
          'Камелот',
        ] 
    },

    {
      'symbol': '',
      'list':
        [
          'Палаты Муравьёвых',
          'Пироговская, 14',
          'Пожарский переулок, 9',
          'Пожарский, 11',
          'Пречистенка, 13',
          'Пречистенка, 2',
          'Пречистенка, 27',
          'Пречистенка, 40/2',
          'Пречистенка, 4',
        ] 
    }

  ]

  const searchresult = [
    {
      'image':'/img/jk/img/1.jpg',
      'logo':'/img/jk/l1.svg'
    },
    {
      'image':'/img/jk/img/2.jpg',
      'logo':'/img/jk/l2.svg'
    },
    {
      'image':'/img/jk/img/3.jpg',
      'logo':'/img/jk/l3.svg'
    },
    {
      'image':'/img/jk/img/4.jpg',
      'logo':'/img/jk/l4.svg'
    },
    {
      'image':'/img/jk/img/5.jpg',
      'logo':'/img/jk/l5.svg'
    },
    {
      'image':'/img/jk/img/6.jpg',
      'logo':'/img/jk/l6.svg'
    },
    {
      'image':'/img/jk/img/7.jpg',
      'logo':'/img/jk/l7.svg'
    },
    {
      'image':'/img/jk/img/8.jpg',
      'logo':'/img/jk/l8.svg'
    },
    {
      'image':'/img/jk/img/9.jpg',
      'logo':'/img/jk/l9.svg'
    },
    {
      'image':'/img/jk/img/10.jpg',
      'logo':'/img/jk/l10.svg'
    },
    {
      'image':'/img/jk/img/11.jpg',
      'logo':'/img/jk/l11.svg'
    },
    {
      'image':'/img/jk/img/2.jpg',
      'logo':'/img/jk/l4.svg'
    },
    {
      'image':'/img/jk/img/3.jpg',
      'logo':'/img/jk/l5.svg'
    },
    {
      'image':'/img/jk/img/5.jpg',
      'logo':'/img/jk/l6.svg'
    },
    {
      'image':'/img/jk/img/7.jpg',
      'logo':'/img/jk/l8.svg'
    },
    {
      'image':'/img/jk/img/10.jpg',
      'logo':'/img/jk/l11.svg'
    },
  ]





