.quiz {
    position: fixed;
    z-index: 10;
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    display: none;
    animation: fade-in 0.6s ease forwards;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    &::before {
        background: rgba(0, 0, 0, 0.88);
        content: '';
        @include layer(1);
    }

    &.open {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__overlay {
        overflow-y: auto;
        height: 100vh;
        display: flex;
        align-items: center;
        width: 100%;
    }


    &__slide {
        display: none;
        animation: slide-up 0.3s ease 1 forwards;

        &.active {
            display: block;
        }

    }

    & [data-quiz=send] {
        display: none;
    }

    & form {
        width: 100%;
        margin: auto;
    }

    &__wrp {
        max-width: 78.125rem;
        margin: auto;
        width: 100%;
        padding: 30px;
        z-index: 2;
        position: relative;

        @include container-padding;
    }

    &__close {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        margin-top: rem(-50);
        padding-bottom: rem(50);

        @include container-padding;

        @media screen and (max-width: $w1280) {
            & svg {
                width: rem(51);
                height: rem(51);
            }
        }
    }

    &__action {
        display: flex;
        justify-content: space-between;
        padding-top: rem(45);

        @media screen and (max-width: $w760) {
            flex-direction: column;

        }

    }

    &__page {
        font-family: Muller;
        font-style: normal;
        font-size: rem(40);
        line-height: 120%;
        text-transform: uppercase;
        font-weight: 300;

        @media screen and (max-width: $w760) {
            text-align: center;
            font-size: rem(36);

        }

        & span {
            width: rem(50);
            display: inline-block;
            text-align: center;
        }

        & [data-quiz-count=current] {
            font-weight: bold;
        }

    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        & .btn {
            @media screen and (max-width: $w360) {
                font-size: 14px;
            }
        }


        &-prev {
            width: rem(60);
            height: rem(60);
            border: 2px solid $green;
            border-radius: 50%;
            display: flex;
            align-items: center;
            margin: 0 rem(40) 0 rem(0);
            cursor: pointer;

            @media screen and (max-width: $w580) {
                width: rem(50);
                height: rem(50);
            }



            &:last-child {
                margin-right: 0;
            }

            & svg {
                width: 100%;
            }
        }

        &-prev svg {
            position: relative;
            left: 20px;
        }

    }

    &__mark {

        display: flex;

        & span {
            flex-grow: 1;
            height: 2px;
            background-color: #fff;
            margin-right: 2px;

            &.active {
                background-color: $main;

            }
        }
    }

    &__dots {
        @media screen and (max-width: $w760) {
            padding-top: rem(80);
            width: 50%;
            margin: auto;
        }
    }


}

.quiz-slide {
    &__title {

        padding-bottom: rem(90);
        font-family: EB Garamond;
        font-style: normal;
        font-weight: bold;
        font-size: rem(40);
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        min-height: rem(198);

        color: #FFFFFF;

        @media screen and (max-width: $w1280) {
            font-size: rem(36);
        }

        @media screen and (max-width: $w940) {
            padding-bottom: rem(80);
            min-height: rem(100);
            font-size: rem(32);
        }

        @media screen and (max-width: $w580) {
            font-size: rem(28);
            line-height: 150%;
        }

        @media screen and (max-width: $w480) {
            font-size: rem(24);

            & br {
                display: none;
            }
        }
    }

    &__subtitle {

        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: rem(32);
        line-height: 130%;
        text-align: center;
        text-transform: lowercase;
        max-width: rem(700);
        margin: 0 auto;

        padding-bottom: rem(45);
        margin-top: -30px;

        @media screen and (max-width: $w940) {
            font-size: rem(24);
        }

        @media screen and (max-width: $w760) {
            font-size: rem(22);

        }

        @media screen and (max-width: $w480) {
            font-size: rem(18);

        }
    }

    &__form {
        & input {
            border: 1px solid #A3D39C;
            box-sizing: border-box;
            border-radius: 100px;
            background: none;
            color: #fff;
            height: rem(70);
            padding: 0 rem(25);
            font-size: rem(18);

            @media screen and (max-width: $w1376) {
                font-size: rem(20);
                height: 60px;
            }

            @media screen and (max-width: $w1024) {
                height: 50px;
            }



            @media screen and (max-width: $w360) {
                font-size: 18px;
                height: 40px;
            }



            &:focus {
                border: 1px solid #fff;
            }

            &[area-valid="false"] {
                border: 1px solid $red;
            }
        }

        & label {

            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: rem(30);

            & input {
                display: none;

                &[area-valid="false"]~ {
                    & .checkbox-text {
                        color: $red;
                    }

                    & .checkbox-elem {

                        border: 2px solid $red;
                    }
                }

                &:checked~.checkbox-elem {

                    &::before {
                        opacity: 1;
                    }
                }
            }

            & .checkbox-elem {
                width: rem(30);
                min-width: rem(30);
                height: rem(30);
                display: inline-block;
                border: 2px solid $main;
                border-radius: 50%;
                position: relative;
                margin-right: rem(25);

                &::before {
                    min-width: rem(12);
                    width: rem(12);
                    height: rem(6);
                    border-left: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                    content: '';
                    display: block;
                    position: absolute;
                    left: rem(6);
                    top: rem(6);
                    transform: rotate(-45deg);
                    opacity: 0;
                }
            }
        }
    }



    & .qz-checkbox {

        cursor: pointer;

        & input {

            display: none;

            &:checked~div {

                font-weight: 600;

                &::before {
                    background: rgba(255, 255, 255, 0.8);
                    border: 2px solid #fff;

                }
            }


        }

        & div {

            font-size: rem(24);
            display: flex;
            align-items: center;
            color: #FFFFFF;
            font-weight: 300;
            line-height: 120%;

            @media screen and (max-width: $w760) {
                font-size: rem(20);
            }

            @media screen and (max-width: $w480) {
                font-size: rem(18);

            }

            @media screen and (max-width: $w360) {
                font-size: rem(16);

            }



            &::before {
                content: '';
                width: rem(30);
                min-width: rem(30);
                height: rem(30);
                background-color: transparent;
                display: block;
                border-radius: 50%;
                margin-right: rem(10);
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border: 2px solid #A3D39C;

                @media screen and (max-width: $w760) {
                    width: rem(25);
                    min-width: rem(25);
                    height: rem(25);
                }

                @media screen and (max-width: $w480) {
                    width: rem(22);
                    min-width: rem(22);
                    height: rem(22);
                    margin-right: rem(15);
                }

                @media screen and (max-width: $w360) {
                    width: rem(18);
                    min-width: rem(18);
                    height: rem(18);
                    margin-right: rem(10);
                }
            }

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }


    }

    &__answer {

        @media screen and (max-width: $w940) {
            max-width: 80%;
            margin: auto;
        }

        @media screen and (max-width: $w480) {
            max-width: 90%;
        }

        @media screen and (max-width: $w360) {
            max-width: 95%;

        }

        & ul {

            @include row-flex();

            & li {

                @include col();
                @include size-w940(3);
                @include size(6);

                min-height: rem(100);

                @media screen and (max-width: $w1280) {
                    min-height: rem(80);
                }

                @media screen and (max-width: $w760) {
                    min-height: rem(60);
                }

                & label span {
                    @include line-clamp(2);
                }


            }
        }
    }
}