mixin quiz-slide(data)
  .quiz-slide
    .quiz-slide__title!= data.title
    .quiz-slide__answer
      ul
        each item in data.answer
          li
            label.qz-checkbox
              input(type="checkbox" value=""+item+"")
              div: span= item


mixin quiz(quizarr)
  .quiz
    form(action='#' method='POST')
      .quiz__wrp  
        .quiz__close: +icons('#ic_close-quiz', 60)
        .quiz__list
          each item, index in quizarr
            .quiz__slide(class=""+(index==0 ? 'active':'')+""): +quiz-slide(item)
          .quiz__slide
            .quiz-slide
              .quiz-slide__title По вашим параметрам <br> найдено 5 объектов
              .quiz-slide__subtitle зАПОЛНИТЕ ПОЛЯ НИЖЕ ДЛЯ ПОЛУЧЕНИЯ АКТУАЛЬНЫХ ОБЪЕКТОВ В ТЕЧЕНИЕ 15 МИНУТ
              .quiz-slide__form 
                .form
                  .form__item
                    .form__subitem: input(type="text" placeholder="Имя" class="required")
                    .form__subitem: input(type="email" placeholder="e-mail" class="required")
                    .form__subitem: input(type="tel" placeholder="Телефон" class="required")
                  .form__item
                    .form__subitem
                      label
                        input(type="checkbox" placeholder="rules" class="required")
                        span.checkbox-elem 
                        span.checkbox-text Я принимаю условия политики конфиденциальности и соглашения пользования 

        .quiz__action
          .quiz__nav
            .quiz__nav-prev(data-quiz-nav="prev"): +icons('#ic_swiper-arrow-left')
            .quiz__nav-next: button.btn.btn-green(data-quiz-nav="next") Следующий вопрос
            .quiz__nav-next: button.btn.btn-green(data-quiz="send") Получить результаты
          .quiz__dots
            .quiz__page
              span(data-quiz-count="current") 01
              |/
              span(data-quiz-count="total") 05
            .quiz__mark
