html {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    background: #fff;
    color: #000;
    letter-spacing: normal;



    @media screen and (max-width: $w1440) {
        font-size: 15px;
    }

    @media screen and (max-width: $w1280) {
        font-size: 14px;
    }
}


button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

* {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.hidden {
    overflow: hidden;

    @media screen and (min-width: $w1024) {
        margin-right: 17px;
    }
}

.hide {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

section {
    overflow: hidden;
}

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(30);
    box-sizing: border-box;

    @media screen and (max-width: $w1280) {
        padding: 0 rem(25);
    }

    @media screen and (max-width: $w1024) {
        padding: 0 rem(25);
        max-width: 885px;
    }

    @media screen and (max-width: $w760) {
        padding: 0 rem(15);
        max-width: 595px;
    }

    @media screen and (max-width: $w580) {
        padding: 0 rem(15);
    }
}

.pull-right {
    justify-content: flex-end !important;
}

.pull-left {
    justify-content: flex-start !important;
}

@mixin section-title {
    /* Заголовок */
    font-family: EB Garamond;
    font-size: rem(36);
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #323232;

    @media screen and (max-width: $w940) {
        font-size: rem(27);
    }

    @media screen and (max-width: $w580) {
        font-size: rem(20);

    }
}

@mixin jk-padding {
    padding-top: rem(100);
    padding-bottom: rem(100);

    @media screen and (max-width: $w1440) {
        padding-top: rem(70);
        padding-bottom: rem(70);
    }

    @media screen and (max-width: $w760) {
        padding-top: rem(50);
        padding-bottom: rem(50);
    }
}

@mixin jk-column-img {
    &-column {
        width: 30vw;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        max-width: rem(640);
        margin: 0 auto;
        z-index: 1;

        & .bgimage {

            padding-top: 70%;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }

    }
}

@mixin container-padding {
    @media screen and (max-width: $w1024) {
        padding-left: rem(25);
        padding-right: rem(25);
        max-width: 885px;
        margin: auto;
    }

    @media screen and (max-width: $w760) {
        padding-left: rem(15);
        padding-right: rem(15);
        max-width: 595px;
    }

    @media screen and (max-width: $w580) {
        padding-left: rem(15);
        padding-right: rem(15);
    }
}


.callback-popup {
    &__close {
        display: flex;
        justify-content: flex-end;
        transform: translateY(100%);

        & svg {
            cursor: pointer;

            @media screen and (max-width: $w760) {
                width: rem(50);
            }
        }
    }

    &__content {
        &>.circle-form {
            min-width: 600px;
            min-height: 600px;

            @media screen and (max-width: $w760) {
                min-width: 490px;
                min-height: 490px;
            }

            @media screen and (max-width: $w580) {
                min-width: 400px;
                min-height: 400px;
            }

            @media screen and (max-width: $w480) {
                min-width: 350px;
                min-height: 350px;
            }
        }
    }

    & .fancybox-close-small {
        display: none
    }

    &.fancybox-content {
        background: transparent;

        @media screen and (max-width: $w580) {
            padding: 30px;
        }

        @media screen and (max-width: $w480) {
            padding: 10px;
        }

        @media screen and (max-width: $w360) {
            padding: 5px;
        }
    }
}


/* ================== */